h1{
    text-align: center;
    color:rgb(222, 29, 68) ;
}
h1::first-letter{
    color: rgb(64, 30, 216);
    font-size: 150%;
}
body{
    background: linear-gradient(to right, rgb(90, 213, 172), rgb(161, 126, 203));
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 130px;
    margin-left: 130px;
    border-radius: 60px;
}
img{
    width: 30%;
    border-radius: 10px;
    border: 10px solid black;
    
}.container{

    background-color: rgb(153, 66, 66);
    display: flex;
    border-radius: 60px;
}
.text{
    list-style: square;
    line-height: 50px;

}
h3{
    text-decoration: underline;
    font-style: italic;
    font-size: larger;
}
