        *{
            text-decoration: none;

        }
        .navbar{
            background-color: crimson;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            padding-right: 15px;padding-left: 15px;
        }
        .navdiv{
            display: flex; align-items: center;justify-content: space-between;
        }